<% layout('layout') %>
<article>
  <hgroup>
    <h2>Error</h2>
    <p class="muted"><%= message %></p>
  </hgroup>
  <a href="javascript:history.back()" role="button" class="secondary">Go back</a>
</article>
