<%- include('partials/header'); %>
<div class="text-center">
  <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
    Obol Token Manager
  </h1>
  <p class="mt-6 text-lg leading-8 text-gray-300">
    A simple web panel for managing your Discord RP tokens.
  </p>
  <div class="mt-10 flex items-center justify-center gap-x-6">
    <a href="/login" class="rounded-md bg-brand-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-brand-500">Get Started &rarr;</a>
  </div>
</div>
<%- include('partials/footer'); %>